<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897089870028-kld7vbiu322rmt06tn1cvnmqfigiuc96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897089870028-kld7vbiu322rmt06tn1cvnmqfigiuc96</string>
	<key>API_KEY</key>
	<string>AIzaSyD2fXDq6C_wPhJ9Z2Wmh2swVctewHlbeY0</string>
	<key>GCM_SENDER_ID</key>
	<string>897089870028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexandre.giannetto.Home</string>
	<key>PROJECT_ID</key>
	<string>home-5d46a</string>
	<key>STORAGE_BUCKET</key>
	<string>home-5d46a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897089870028:ios:b6993c311b3dd55e260a69</string>
</dict>
</plist>